* {
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 600px;
}

body {
  margin: 0;
  background-color: #000;
  min-width: 600px;
  min-height: 600px;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 40, 40, 1) 21%,
    rgba(60, 59, 59, 1) 49%,
    rgba(81, 80, 80, 1) 64%,
    rgba(112, 111, 111, 1) 77%,
    rgba(148, 145, 145, 1) 87%,
    rgba(245, 245, 245, 1) 100%
  );
  background-size: cover;
  -webkit-background-size: cover;
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgb(255, 255, 255);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  width: 30px;
  height: 30px;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 58%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 8s linear infinite;
  animation-delay: 2s;
  opacity: 0;
  animation-direction: reverse;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 6s linear infinite;
  animation-delay: 2s;
  opacity: 0;
}

.box div:nth-child(5) {
  top: 60%;
  left: 10%;
  animation: animate 15s linear infinite;
  animation-direction: alternate-reverse;
}

.box div:nth-child(6) {
  top: 52%;
  left: 70%;
  animation: animate 10s linear infinite;
  animation-direction: reverse;
  animation-delay: 2s;
  opacity: 0;
}

.box div:nth-child(7) {
  top: 40%;
  left: 92%;
  animation: animate 7s linear infinite;
  animation-direction: reverse;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(9) {
  top: 60%;
  left: 25%;
  animation: animate 10s linear infinite;
  animation-direction: reverse;
  animation-delay: 2s;
  opacity: 0;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 10s linear infinite;
  animation-direction: reverse;
  opacity: 0;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0.3;
  }

  100% {
    transform: scale(1.3) translateY(-200px) rotate(360deg);
    opacity: 0;
  }
}

#info1 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1100px;
}

#fun-fact {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-bottom: 100px;
  max-width: 1100px;
}

.row {
  max-width: 600px;
  width: 600px;
  height: 260px;
  align-items: center;
}

#fotojet {
  float: left;
}

#tonihi {
  width: 200px;
  height: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
}

.facebook {
  float: left;
  color: #fff;
  position: fixed;
  top: 0;
}

ion-icon {
  font-size: 50px;
  color: #fff;
  padding: 3px;
  opacity: 0.3;
  background: transparent;
}

ion-icon:hover {
  color: rgb(62, 62, 62);
}
